<ion-item>
  <ion-label>Paciente</ion-label>
  <ion-spinner name="circular"></ion-spinner>
</ion-item>

<ion-loading trigger="open-loading" message="Carregando..." [duration]="3000" spinner="circles"></ion-loading>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Cadastro</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-input
            label="Nome:"
            labelPlacement="stacked"
            [(ngModel)]="nome"
            [clearOnEdit]="true"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="CPF:"
            labelPlacement="stacked"
            [(ngModel)]="cpf"
            [clearOnEdit]="true"
            appCpf
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Senha:"
            labelPlacement="stacked"
            type="password"
            [(ngModel)]="senha"
          >
          </ion-input>
        </ion-item>
        <ion-button id="open-loading" (click)="adicionarCliente()">Salvar</ion-button>
      </ion-list>
    </div>
  </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Lista de clientes</ion-label>
    </ion-item>
    <ion-list slot="content">
      <ion-item *ngFor="let cliente of clientes">
        <ion-label>
          <h2>{{ cliente.nome }}</h2>
          <p>CPF: {{ cliente.cpf }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
